@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color-light: #e3e2e2;
  --secondary-background-color-light: #fff;
  --text-color-light: #000;
  --secondary-color-light: #4B0082;

  --background-color-dark: #393E41;
  --text-color-dark: #F6f7eb;
  --secondary-color-dark: #4B0082;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  padding: 0;
  display: grid;
}

.main-content{
  width: 80%;
  margin: 0 auto;
}

/***************** NAVIGATION **************/
.nav-bar {
  margin: 2rem auto;
  background-color: var(--secondary-background-color-light);
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar ul a {
  font-size: 1.15rem;
  text-decoration: none;
  color: var(--text-color-light);
}

.nav-bar ul a:hover {
  color: var(--secondary-color-light);
}

/***************** HOME HERO **************/
.home-hero {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0 3rem;
}

.text-container {
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.home-title {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 3rem auto 1.5rem;
}

.divider {
  background-color: black;
  width: 350px;
  height: 2px;
  margin: 0 auto;
}

.home-description {
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
  margin: 2rem auto 0;
}

.my-photo-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.my-photo {
  width: 250px;
  border-radius: 10%;
}

/**************** EXPEREINCE, EDUCATION & SKILLS GRID ***********/
#experience-skills-grid{
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
    min-height: 300px;

}



/**************** EXPERIENCE & EDUCATION **************/

.section-title {
  font-size: 3.25rem;
  color: var(--text-color-light);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  /* text-align: center; */
  margin: 2rem 0;
}

.experience-box, .education-box, .skills-box {
  background-color: var(--secondary-background-color-light);
  color: black;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
}

.experience-header, .education-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.experience-header img, .education-header img {
  width: 100px;
}

.experience-header p {
font-weight: bold;
font-family: 'Montserrat', sans-serif;
}

.education-header p{
  padding-right: 5%;
  font-weight: bold;
  margin: auto 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.experience-box ul {
  padding: 1rem;
  line-height: 1.75;
}

.education-box p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}

.line {
  background-color: var(--background-color-light);
  width: 100%;
  height: 3px;
}

/**************** SKILLS **************/

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.skills-box h3 {
  margin-bottom: 0.5rem;
}

.skills-box img {
  width: 50px;
  margin: 0.5rem;
  padding: 1rem;
  padding-bottom: 1rem;
}

.skills-box p {
  margin: 0.5rem;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* space between images */
  flex-wrap: wrap; /* Optional: allows wrapping on smaller screens */
}

.skills-icons p{
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

/****************** PROJECTS *********************/
.projects-box-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.projects-box{
  background-color: var(--secondary-background-color-light);
  color: black;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-box img{
  width: 400px;
  border-radius: 3%;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.projects-box img:hover {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projects-box h2{
  text-align: center;
}
.projects-box ul{
  line-height: 1.75;
}

/* **************** VOLUNTEERING ***************** */
.volunteering-box{
  background-color: var(--secondary-background-color-light);
  color: black;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.volunteering-box img{
  width: 200px;
  border-radius: 25px;
  padding: 1rem;
}

.volunteering-box h2{
  text-align: center;
}
/**************** FOOTER **************/
footer {
  width: 100%;
  background-color: #4a4949;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.footer-container a img {
  width: 30px;
  margin: 0 10px;
}

