@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color-light: #e3e2e2;
    --secondary-background-color-light: #fff;
    --text-color-light: #000;
    --secondary-color-light: #4B0082;
  
    --background-color-dark: #393E41;
    --text-color-dark: #F6f7eb;
    --secondary-color-dark: #4B0082;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

/***************** PAGE CONTAINERS **************/


/********** navigation bar ************ */
.nav-bar{
    margin: 2rem auto;
    width: 100%;
    background-color: var(--secondary-background-color-light);
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.nav-bar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}


.nav-bar ul a {
    font-size: 1.15rem;
    text-decoration: none;
    color: var(--text-color-light);
}

.nav-bar ul a:hover {
    color: var(--secondary-color-light);
}

/**************** 1st section ***********/
.text-container{
    padding: .5rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.home-hero{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; /* Centers items vertically */
    justify-content: flex-start; /* Align items to the left */
    gap: .5rem; /* Space between image and text */
    padding: 1rem;
    padding-bottom: 3rem;
}

.my-photo-container{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.my-photo{
    width: 250px;
    border-radius: 10%;
    align-items: center;
}

.home-title{
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 3rem 3rem 1.5rem 3rem;
}

.divider{
    background-color: black;
    width: 350px;
    margin: 0 auto;
    height: 2px;
}

.home-description{
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}


/*************** 2nd section ************/

.experience-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
    min-height: 300px;
    
}


.experience-container h2 {
    margin: 0;
    padding: 0;
    /* padding-bottom: 1rem; */
    font-size: 3.25rem;
    color: var(--text-color-light);
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif;
}

.byui-container-box{
    color: black;
    width: 100%;
    border-radius: 10px;
    background-color: var(--secondary-background-color-light);
    margin: 0;
    grid-row: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.experience-top {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.experience-top img{
    width: 100px;
    padding-left: 5%;
}

.experience-top p{
    padding-right: 5%;
    font-weight: bold;
    margin: auto 0;
}

.byui-container-box ul{
    padding-right: 2%;
    line-height: 1.75;
}

.line{
    background-color: var(--background-color-light);
    width: 100%;
    margin: 0 auto;
    height: 3px;
}

/* ************* Call center ****************** */

.call-center-container-box{
    color: black;
    width: 100%;
    border-radius: 10px;
    background-color: var(--secondary-background-color-light);
    margin: 0;
    grid-row: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.call-center-container-box ul{
    padding-right: 2%;
    line-height: 2;

}

/* ************* Warehouse ****************** */

.warehouse-container-box{
    color: black;
    width: 100%;
    border-radius: 10px;
    background-color: var(--secondary-background-color-light);
    margin: 0;
    grid-row: 4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.warehouse-container-box ul{
    padding-right: 2%;
    line-height: 2;
}

/* ************* Education and skill ****************** */

.education h2{
    margin: 0;
    padding: 0;
    font-size: 3.25rem;
    color: var(--text-color-light);
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif;
}

.education-skill-container-box{
    color: black;
    width: 100%;
    height: 290px;
    border-radius: 10px;
    background-color: var(--secondary-background-color-light);
    margin: 0;
    grid-column: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* .education-skill-container-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.education-skill-container-box img{
    width: 80px;
    padding-left: 5%;
}

.education-top{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.education-top p{
    padding-right: 5%;
    font-weight: bold;
    margin: auto 0;
    font-family: 'Montserrat', sans-serif;
}

.education-skill-container-box p{
    padding-left: 5%;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}

.skills-title h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.skills-container{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background-color: var(--secondary-background-color-light);
    margin: 0;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


